<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">ImageRepo</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
          </div>
           <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            {%if session.logged_in %}
            <li class="nav-item">
              <a class="nav-link" href="/upload">Upload</a>
            </li>
            {%endif%}
          </ul>

          <ul class="nav navbar-nav ml-auto">
            {% if session.logged_in %}
              <li class="nav-item">
                <a class="nav-link" href="/dashboard">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
            {% endif %}

          </ul>
        </div><!--/.nav-collapse -->
      </div>
  </nav>